# Local .terraform directories
**/.terraform
**/.terragrunt-cache

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform lock files in modules
.terraform.lock.hcl
!app/stacks/**/.terraform.lock.hcl

# Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Miscellaneous
.DS_Store
.idea
.vscode
*.iml

# Pre-commit hooks
providers-tmp.tf
